<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.cloud.order.dao.AdvertisementDAO">
  <resultMap id="BaseResultMap" type="com.yang.cloud.order.entity.Advertisement">
    <id column="id_" jdbcType="BIGINT" property="id" />
    <result column="advert_name" jdbcType="VARCHAR" property="advertName" />
    <result column="advert_type" jdbcType="VARCHAR" property="advertType" />
    <result column="size_" jdbcType="VARCHAR" property="size" />
    <result column="play_duration" jdbcType="VARCHAR" property="playDuration" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="open_" jdbcType="CHAR" property="open" />
    <result column="is_delete" jdbcType="CHAR" property="isDelete" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id_, advert_name, advert_type, size_, play_duration, create_user, open_, is_delete, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from advertisement
    where id_ = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from advertisement
    where id_ = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yang.cloud.order.entity.Advertisement">
    insert into advertisement (id_, advert_name, advert_type, 
      size_, play_duration, create_user, 
      open_, is_delete, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{advertName,jdbcType=VARCHAR}, #{advertType,jdbcType=VARCHAR}, 
      #{size,jdbcType=VARCHAR}, #{playDuration,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, 
      #{open,jdbcType=CHAR}, #{isDelete,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yang.cloud.order.entity.Advertisement">
    insert into advertisement
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id_,
      </if>
      <if test="advertName != null">
        advert_name,
      </if>
      <if test="advertType != null">
        advert_type,
      </if>
      <if test="size != null">
        size_,
      </if>
      <if test="playDuration != null">
        play_duration,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="open != null">
        open_,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="advertName != null">
        #{advertName,jdbcType=VARCHAR},
      </if>
      <if test="advertType != null">
        #{advertType,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        #{size,jdbcType=VARCHAR},
      </if>
      <if test="playDuration != null">
        #{playDuration,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="open != null">
        #{open,jdbcType=CHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yang.cloud.order.entity.Advertisement">
    update advertisement
    <set>
      <if test="advertName != null">
        advert_name = #{advertName,jdbcType=VARCHAR},
      </if>
      <if test="advertType != null">
        advert_type = #{advertType,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        size_ = #{size,jdbcType=VARCHAR},
      </if>
      <if test="playDuration != null">
        play_duration = #{playDuration,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="open != null">
        open_ = #{open,jdbcType=CHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id_ = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yang.cloud.order.entity.Advertisement">
    update advertisement
    set advert_name = #{advertName,jdbcType=VARCHAR},
      advert_type = #{advertType,jdbcType=VARCHAR},
      size_ = #{size,jdbcType=VARCHAR},
      play_duration = #{playDuration,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      open_ = #{open,jdbcType=CHAR},
      is_delete = #{isDelete,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id_ = #{id,jdbcType=BIGINT}
  </update>
</mapper>